@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
    list-style: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;   
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;   
    width: 100%;
    background-color: rgba(238, 238, 238, 0.412);
}

a {
    text-decoration: none;
}

/*--------------------- page -------------------*/

.page{
    padding-top: 5%;
    height: 87vw;
    text-align: center;
}

.page h1{
    font-size: 1.2em;
    margin: 5%;
}

.page h2{
    font-size: 1.1em;
    margin: 5%;
}

.page p{
    font-size: 1.1em;
    margin: 5%
}

.stat-titre{
    color: black;
    font-size: 0.8em;
    text-align: center;
    margin-top: 10%;
}

/*---------- Vrai menu de navigation -----------*/

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    height: 65px;
    padding-left: 10%;
}

.navbar a{
    color: black;
    font-size: 23h;
    font-weight: 600;
}

.navbar .nav-links ul{
    display: flex;
    text-align: right;
    margin-right: 5%;
}

.navbar .nav-links ul li{
    margin: 0 30px;
}

.navbar .nav-links ul li.active a{
    color: #cacaca;
}

.navbar img{
    margin-top: 4px;
    width: 40px;
}

.menuOpen{
    display: none;
    color: black;
    font-size: 17px;
    font-weight: 550;
}

.hambuger-close{
    position: absolute;
    top: -10000%;
}

/*-----------SECTION Footer----------*/


.footer{
    margin-top: -10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer p {
        
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px
}

.button:hover{
    cursor: pointer;
    color: #cacaca;
}

/*=============================================TABLETTE================================================*/

@media screen and (max-width: 1300px) {

    .page{
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar{
        padding-left: 5%;
        margin: 0;
    }

    .logo{
        margin-left: 0;
    }

}
/*=============================================TELEPHONE================================================*/

@media screen and (max-width: 880px) {


    .stat-titre{
        color: black;
        font-size: 0.8em;
        text-align: center;
        margin-top: 25%;
    }
    

    .page{
        padding-left: 5%;
        padding-right: 5%;

    }

    .page h1{
        margin-top: 25%;
    }

    .page h2{
        font-size: 1.2em;
        margin: 10%;
    }

    .page p{
        font-size: 1.2em;
        margin: 10%
    }

/*-----------SECTION NAVIGATION----------*/

    .navbar{
        padding-left: -10%;
        margin: 0;
    }

    .nav-links{
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(61, 61, 61, 0.347);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        color: white;
        margin-left: -100%;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.5em;
    }

    .navbar .nav-links ul li a{
        color: white;
        font-weight: 700;
    }

    .nav-links.menu__active{
        margin-left: 0;
    }

    .logo{
        margin-left: 5%;
    }

    .menuOpen{
        display: block;
        margin-right: 5%;
    }

    .hambuger-close{
        position: fixed;
        right: 5%;
        top: 1%;
        width: 35px;
    }

    .mail{
        font-size: 0.7em;
        margin: 5%;
    }
}